.container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  .userIconWrap {
    width: 56px;
    height: 56px;
    font-weight: 700;
    font-size: 20px;
    background-color: var(--pixema-primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
  }
  .userMainWrap {
    display: flex;
    align-items: center;
    position: relative;
    gap: 30px;
    cursor: pointer;
    > h3,
    svg {
      cursor: pointer;
    }
    .logout {
      position: absolute;
      top: 100%;
      right: 0;
      opacity: 0;
      transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
      visibility: hidden;
      &Active {
        z-index: 3;
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
