.titlesHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.containerFilters {
  top: -500%;
  position: fixed;
  left: 40%;
  width: 30%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 48px 40px;
  background-color: var(--pixema-background-dark);
  z-index: 5;
  transition: top 0.5s;
  .radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: var(--pixema-secondary-color);
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 300px;
    font-size: 14px;
  }
  .inputFields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    box-sizing: border-box;
  }
  .formBtn {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  p {
    color: var(--pixema-text-color);
  }
  &Active {
    top: 20%;
  }
}
.filtersButton {
  position: sticky;
  right: 0;
}
@media (max-width: 1600px) {
  .containerFilters {
    width: 40%;
  }
}
@media (max-width: 1400px) and (max-height: 800px) {
  .containerFilters {
    > div > p {
      margin: 0;
      margin-bottom: 10px;
    }
    &Active {
      top: 1%;
    }
  }
}
@media (max-height: 620px) {
  .containerFilters {
    position: absolute;
  }
}

@media (max-width: 1150px) {
  .containerFilters {
    width: 60%;
    left: 20%;
  }
}
@media (max-width: 850px) {
  .containerFilters {
    width: 80%;
    left: 10%;
  }
}
@media (max-width: 650px) {
  .containerFilters {
    width: 90%;
    left: 5%;
  }
}

@media (max-width: 550px) {
  .containerFilters {
    width: 100%;
    left: 0;
  }
}

@media (max-width: 500px) {
  .titlesHeader {
    flex-direction: column;
  }
  .containerFilters {
    .inputFields {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
@media (max-width: 450px) {
  .containerFilters {
    > div > p {
      margin: 0;
      margin-bottom: 10px;
    }
    &Active {
      top: 0;
    }
  }
}
