.container {
  background-color: var(--pixema-background-dark);
  width: 30%;
  margin: auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: 10px;
  > h2 {
    color: var(--pixema-white-color);
  }
}
