.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

@media (max-width: 800px) {
  .container button {
    width: 100px;
  }
}
@media (max-width: 500px) {
  .container button {
    width: 50px;
  }
}
