.container {
  border-radius: 10px;
  color: var(--pixema-white-color);
  display: flex;
  flex-direction: column;
  > label {
    margin-bottom: 8px;
  }
  > input {
    background-color: var(--pixema-secondary-color);
    border-radius: 10px;
    border: none;
    display: block;
    padding: 16px 20px;
    color: var(--pixema-white-color);
    &::placeholder {
      color: var(--pixema-light-color);
    }
    &:focus-visible {
      outline: none;
    }
  }
}
