.container {
  display: flex;
  flex-direction: column;
  gap: 25px;

  .posterWrap {
    position: relative;
    border-radius: 20px;
    .posterImg {
      width: 100%;
      height: 100%;
      min-height: 500px;
      border-radius: 20px;
      transition: 1s;
      &:hover {
        transform: scale(1.1);
      }
    }
    .ratingWrap {
      position: absolute;
      top: 20px;
      left: 20px;
      min-width: 25px;
      padding: 2px 8px;
      border-radius: 6px;
      text-align: center;
      color: var(--pixema-white-color);
      cursor: default;
    }
    .favoritesWrap {
      background-color: var(--pixema-secondary-color);
      > svg {
        fill: var(--pixema-primary-color);
      }
    }
  }
  .name {
    text-align: center;
    margin-bottom: 10px;
    > a {
      text-decoration: none;
      color: var(--pixema-white-color);
    }
  }
  .date {
    text-align: center;
    color: var(--pixema-light-color);
    cursor: default;
  }
}

.highRating {
  background-color: var(--pixema-green-color);
}
.middleRating {
  background-color: var(--pixema-yellow-color);
}
.lowRating {
  background-color: var(--pixema-error-color);
}
.trendsRatingWrap {
  background-color: var(--pixema-primary-color);
  display: flex;
  justify-content: center;
  gap: 4px;
}

.mainTitleWrap {
  width: 100%;
  height: 600px;
  margin-bottom: 40px;
  overflow: hidden;
  border-radius: 60px;
  position: relative;
  cursor: pointer;
  img {
    max-width: 100%;
    object-fit: cover;
    object-position: 0 0;
    opacity: 0.6;
  }
  .mainTitleContent {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    > p {
      width: fit-content;
      display: flex;
      flex-direction: column;
      > h3 {
        margin: 0;
        font-size: 70px;
        color: var(--pixema-yellow-color);
        cursor: default;
        > svg {
          width: 50px;
          height: 50px;
        }
      }
      > p {
        font-size: 30px;
        color: var(--pixema-white-color);
        cursor: default;
      }
    }
  }
}
