.container {
  display: flex;
  flex-direction: column;
  gap: 25px;

  .posterWrap {
    position: relative;
    border-radius: 20px;
    .ratingWrap {
      position: absolute;
      top: 20px;
      left: 20px;
      color: var(--pixema-white-color);
    }
    .favoritesWrap {
      background-color: var(--pixema-secondary-color);
      > svg {
        fill: var(--pixema-primary-color);
      }
    }
  }
  .name {
    text-decoration: none;
    color: var(--pixema-white-color);
  }
  .date {
    color: var(--pixema-light-color);
  }
}

.highRating {
  background-color: var(--pixema-green-color);
}
.middleRating {
  background-color: var(--pixema-yellow-color);
}
.lowRating {
  background-color: var(--pixema-error-color);
}
.trendsRatingWrap {
  background-color: var(--pixema-primary-color);
  display: flex;
  justify-content: center;
  gap: 4px;
}
