.container {
  display: flex;
  flex-direction: column;
  gap: 25px;

  .posterWrap {
    position: relative;
    border-radius: 20px;
    .posterImg {
      width: 100%;
      height: 100%;
      min-height: 500px;
      border-radius: 20px;
      transition: 1s;
      &:hover {
        transform: scale(1.1);
      }
    }
    .ratingWrap {
      position: absolute;
      top: 20px;
      left: 20px;
      min-width: 25px;
      padding: 2px 8px;
      border-radius: 6px;
      text-align: center;
      color: var(--pixema-white-color);
      cursor: default;
    }
    .favoritesWrap {
      background-color: var(--pixema-secondary-color);
      > svg {
        fill: var(--pixema-primary-color);
      }
    }
  }
  .name {
    text-align: center;
    margin-bottom: 10px;
    > a {
      text-decoration: none;
      color: var(--pixema-white-color);
    }
  }
  .date {
    text-align: center;
    color: var(--pixema-light-color);
    cursor: default;
  }
}

.highRating {
  background-color: var(--pixema-green-color);
}
.middleRating {
  background-color: var(--pixema-yellow-color);
}
.lowRating {
  background-color: var(--pixema-error-color);
}
.trendsRatingWrap {
  background-color: var(--pixema-primary-color);
  display: flex;
  justify-content: center;
  gap: 4px;
}
