.titleWrap {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  width: fit-content;
  > svg {
    margin-top: 10px;
    fill: var(--pixema-white-color);
    stroke: var(--pixema-white-color);
  }
  &:hover > svg {
    fill: var(--pixema-yellow-color);
    stroke: var(--pixema-yellow-color);
  }
}
.btnWrap {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
  justify-content: center;
}
