.container {
  position: absolute;
  display: flex;
  padding: 30px;
  background-color: var(--pixema-secondary-color);
  border-radius: 20px;
  top: 50%;
  flex-direction: column;
  margin: 20px auto auto -56px;
  gap: 40px;
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
  overflow: hidden;
  > div {
    display: flex;
    gap: 25px;
    width: fit-content;
    &:hover {
      > a {
        color: var(--pixema-primary-color);
      }
      > svg {
        fill: var(--pixema-primary-color);
        stroke: var(--pixema-primary-color);
      }
    }
    > a {
      text-decoration: none;
      color: var(--pixema-white-color);
    }
    > svg {
      fill: var(--pixema-white-color);
      stroke: var(--pixema-white-color);
    }
  }
}
.active {
  z-index: 3;
  top: 100%;
  visibility: visible;
  opacity: 1;
}
