.container {
  --pixema-max-width: 1920px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 65px;
  position: relative;

  main {
    margin: 0 10%;
    max-width: var(--pixema-max-width);
    min-height: calc(100vh - 170px);
  }

  form {
    margin: auto, auto;
  }

  footer {
    width: 100%;
    margin: 0, auto;
  }
}

.formsLayout::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url('../assets/layouts/Frame\ 1438.png');
}
