table {
  width: 80%;
  tr {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    .tableKeys {
      min-width: 60%;
    }
    .tableValues {
      color: var(--pixema-white-color);
      text-align: right;
      p {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        .personsContent {
          position: relative;
          width: fit-content;
          margin: 0;
          .personPhotoWrap {
            width: 80px;
            height: 100px;
            position: absolute;
            top: -110px;
            left: calc(50% - 50px);
            visibility: hidden;
            img {
              border-radius: 1.5rem;
              width: 100%;
              height: 100%;
            }
          }
          &:hover .personPhotoWrap {
            visibility: visible;
          }
        }
      }
    }
  }
  a {
    color: var(--pixema-white-color);
    &:hover {
      color: var(--pixema-primary-color);
    }
  }
  span {
    cursor: default;
  }
}
.titleCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  min-height: 350px;
  .posterWrap {
    position: relative;
    border-radius: 20px;
    .posterImg {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      transition: 1s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
.name {
  text-align: center;
  > a {
    text-decoration: none;
    color: var(--pixema-white-color);
    &:hover {
      color: var(--pixema-primary-color);
    }
  }
}

.recomendWrap {
  h2 {
    color: var(--pixema-white-color);
    margin-bottom: 20px;
  }
  .recomendContent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
  }
}
